// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  @include outer-container;
  height:600px;
  .center-block{
    @include span-columns(6);
    @include shift(3);
  }

  .tweets{
    @include span-columns(6);
    @include shift(3);
    background-color:#FA8258;
    color:#fff;
  }

  .block{
  width:100px;
  height:100px;
  }
}
